*{
    margin: 0px;
    padding: 0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#container{
    background-color: #D6F4ED;
}

#anl-div{
   background-color:#87BAC3 ;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   align-items: center;
}

#nav{
    background-color: dodgerblue;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}

#nameErr,#emailErr,#typeerr{
    color: red;
}
input[type="text"],
input[type="email"]{
  width: 200px;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
table{
    padding: 30px;
    margin: auto;
    font-weight: 600;
}

table td{
    padding-top: 10px;
}
table #btn-td{
    text-align: center;
}

#btn-sub,#btn-anl{
    padding: 8px 16px;
    font-size: medium;
    font-weight: 500;
    color:aliceblue;
    background-color: rgb(167, 185, 219);
    border-radius: 5px;
    cursor: pointer;
}
#btn-anl{
    background-color: rgb(237, 106, 18);
}


#btn-sub:hover{
    background-color: cornflowerblue;
}

#info-div{
    padding: 10px;
    display:none;
    font-size: larger;
    font-weight: 500;
    border: 2px solid whitesmoke;
    margin-bottom: 5px;
}